@import "../scripts/theme/ui.base.css";
@import "../scripts/theme/ui.theme.css";

/* CSS Document */
body {	padding:0;	margin:0;	background:url(/images/bg.gif) repeat-x #000;	color:#A5A5A4;}
div, ul, h2, h3, h4, p, img, form {	padding:0;	margin:0;}
h1 { font-size:24px; font-family: Helvetica, Geneva, Arial, SunSans-Regular, sans-serif; padding:0;	margin:0;}
ul {	list-style-type:none;}
.blank {	font-size:0px;	clear:both;	line-height:0px;}
/*--------------------------------header pan---------------------------*/
/*#header {
	width:900px;
	margin: auto;
	text-align: center;
}
*/
#navbar li {
	display: inline;
	padding: 10px;
	/*background-color:green;*/
}

#navbar li:hover {
	background-color:#D1D8D9;
}

#navbar li a {
	text-decoration:none;
	color:#4C5790;
}

#navbar li:hover a {
	color:#1C185A;
}

#headerPan{	
	width:1000px;
	margin:0 auto 0 auto;
	background:url(/images/name.gif) no-repeat center bottom;

	/*float: center;
*/	height:150px;
}

#headerPan ul{	
	margin: 106px 20% 0 20%;
	display:block;
	float: center;
	height:20px;
}
#headerPan ul li{	
	display:block;
	float:left;
	height:20px;
	margin:0;
	padding:0;
}
#headerPan ul li a{	
	font: bold 12px/21px "Trebuchet MS", Arial, Helvetica, sans-serif;
	padding:0 14px 0 14px;
	color:#EAEAEA;
	background-color:#242424;
	text-decoration:none;
	margin:0;
	height:20px;
}
#headerPan ul li a:hover{	
	color:#EAEAEA;
	background-color:#0867C3;
}
	
#headerPan form{	
	width:397px;
	height:35px;
	margin:0 0 0 390px;
	margin-left:auto;
	margin-right:auto;
	font-size:0;
	padding:0;
}
#headerPan form label{	
	font:24px/26px Arial, Helvetica, sans-serif;
	color:#CBCBCB;
	margin:5px 0 0 44px;
	float:left;
	padding:0;
	font-weight:normal;
	background-color:#000000;
}
#headerPan form input{	
	width:100px;
	height:20px;
	display:block;
	background-color:#171717;
	border:#494949 1px solid;
	color:#ACACAC;
	float:left;
	margin:5px 0 0 18px;
	padding:0 0 0 5px;
}
#headerPan form input.button{	
	width:80px;
	height:23px;
	background:url(/images/login_button.gif) no-repeat 0 0;
	float:left;
	cursor:pointer;
	border:none;
	}
/*----------------------------------video----------------*/

#video-player-container {
    width:830px; 
    height:368px; 
    background-color:black;
	margin: auto;
}

#videoPart{
	width:830px;
	height:368px;
	margin:30px auto 0 auto;
	padding-bottom:10px;
	}
	
#playerControls{
	width:966px;
	height:auto;
	margin:auto;
	overflow:auto;
	
}

#playerControls h2 a{
	width:30px;
	height:30px;
	display:block;
	font-size:14pt;
	text-decoration:none;
/*	text-indent:-2000px;*/
	}
#playerControls h2 a.play{
	display:block;
	text-decoration:none;
	background:url(/images/play.gif) no-repeat #000;
	margin:0 30px 0 30px;
	float:right;
	color:#FFFFFF;
	}
#playerControls h2 a.play:hover{
	width:30px;
	height:30px;
	display:block;
	text-decoration:none;
	background:url(/images/play_h.gif) no-repeat #000;
	float:right;
	margin:0 30px 0 30px;
	color:#FFFFFF;
	}
	
#sortclips{
	width:966px;
	height:auto;
	margin:auto;
	overflow:auto;
	
}
/*
#clip-list { 
    list-style-type: none; 
    margin-top: 20px; 
    margin-bottom: 20px;
    padding: 3px; 
	width: 960px;
	max-height: 155px;
	overflow: auto;
	display: table-row-group;
}

#clip-list li {
    display: table-cell; 
    float: left;
    height:auto !important;
    min-height:150px;
    width:160px;
    text-align: center; 
}
*/
.thumbnail {
    border:1px solid #555555;
    height:97px;
    padding:0;
    width:130px;
}

/* Work on this to ensure that the clip title
   remains below the clip image
.clip-list-title {    
    color:#444444;
    font-size:12px;
    font-weight:normal;
    outline-color:-moz-use-text-color;
    outline-style:none;
    outline-width:medium;
}
*/
	

}*/	
/*----------------------------------body part----------------*/
#mainBody{
	width:100%;
	margin:24px auto 0 auto;
	margin-top:50px;
	}
#mainBody h2{
	/*height:95px;
		width:400px;
		display:block;
		float:left;*/
	color:white;
	}

#buttons{
	width:420px;
	height:85px;
	margin-left:auto;
	margin-right:auto;
}

#mainBody h2 a{
	width:150px;
	height:95px;
	display:block;
	font-size:14pt;
	text-decoration:none;
/*	text-indent:-2000px;*/
	}
#mainBody h2 a.lib{
	display:block;
	text-decoration:none;
	background:url(/images/to_library.gif) no-repeat #000;
	margin:0 30px 0 30px;
	float:right;
	color:#FFFFFF;
	}
#mainBody h2 a.lib:hover{
	width:150px;
	height:95px;
	display:block;
	text-decoration:none;
	background:url(/images/to_library_h.gif) no-repeat #000;
	float:right;
	margin:0 30px 0 30px;
	color:#FFFFFF;
	}
#mainBody h2 a.pro{
	width:150px;
	height:95px;
	display:block;
	float:left;
	text-decoration:none;
	background:url(/images/works.gif) no-repeat #000;
	color:#FFFFFF;
	margin:0 0 0 25px;
	}
	

#mainBody h2 a.pro:hover{
	width:204px;
	height:95px;
	display:block;
	float:left;
	text-decoration:none;
	
	background:url(/images/works_h.gif) no-repeat #000;
	color:#FFFFFF;
	}
	
#mainBody h2 a.fromlib{
	width:163px;
	
	height:76px;
	
	display:block;
	
	text-decoration:none;
	
	background:url(/images/from_library.gif) no-repeat #000;
	margin:0 30px 0 30px;
	float:right;
	color:#FFFFFF;
	}
#mainBody h2 a.fromlib:hover{
	width:163px;
	
	height:76px;
	
	display:block;
	
	text-decoration:none;
	
	background:url(/images/from_library_h.gif) no-repeat #000;
	float:right;
	margin:0 30px 0 30px;
	color:#FFFFFF;
	}
#mainBody h2 a.addnew{
	width:163px;
	
	height:76px;
	
	display:block;
	
	text-decoration:none;
	
	background:url(/images/upload_new.gif) no-repeat #000;
	color:#FFFFFF;
	margin:0 0 0 25px;
	}
	

#mainBody h2 a.addnew:hover{
	width:163px;
	height:76px;
	display:block;
	text-decoration:none;
	
	background:url(/images/upload_new_h.gif) no-repeat #000;
	color:#FFFFFF;
	}/*------------centered-------------*/	#centerHold{	width:350px;	margin:0 auto 0 auto;	float: center;	display:block;	height:50px;}#centerHold form input{	width:130px;	height:20px;	display:block;	background-color:#171717;	border:#494949 1px solid;	color:#ACACAC;	float:left;	margin:5px 0 0 18px;	padding:0 0 0 5px;}#centerHold form label{	font:20px/22px Arial, Helvetica, sans-serif;	color:#CBCBCB;	margin:5px 0 0 44px;	float:left;	padding:0;	font-weight:normal;	background-color:#000000;}#centerHold form input.button{	width:80px;	height:23px;	float:right;	margin-right:50px;	cursor:pointer;	border:none;}#centerHold ul{	margin: 50px 20% 0 20%;	display:block;	float: center;	height:20px;}#centerHold ul li{	display:block;	float:left;	height:20px;	margin:0;	padding:0;}#centerHold ul li a{	font: bold 12px/21px "Trebuchet MS", Arial, Helvetica, sans-serif;	padding:0 14px 0 14px;	color:#EAEAEA;	background-color:#242424;	text-decoration:none;	margin:0;	height:20px;}#centerHold ul li a:hover{	color:#EAEAEA;	background-color:#0867C3;}


/*-------------------------------right-------*/
#rightPan{
	width:480px;
	margin:0 auto 0 auto;
	float:center;
	}

#rightPan h2.about{
	width:429px;
	height:37px;
	display:block;
	margin:25px 0 27px 0;
	padding:0;
	text-indent:-2000px;
	}
#rightPan p{
	width:427px;
	font:14px/20px Arial, Helvetica, sans-serif;
	color:#A5A5A4;
	background-color:#000000;
	display:block;
	margin:0 0 0 0;
	}
#rightPan p span{
	color:#2BCB02;
	background-color:#000000;
	font-size:17px;
	font-weight:bold;
	}
#rightPan p.more{
	width:421px;
	border:#353535 1px solid;
	height:18px;
	background-color:#171717;
	color:#FFFFFF;
	margin:25px 0 28px 0;
	padding:3px 3px 0 0;
	}
#rightPan p.more a{	
	display:block;
	text-align:right;
	text-decoration:none;
	 font:14px/15px Arial, Helvetica, sans-serif;
	width:200px;
	height:15px;
	background:url(/images/read_more_arrow.gif) no-repeat right center #000000;
	color:#FFFFFF;
	float:right;
	padding:0 50px 0 0;
	}
#rightPan p a:hover{
	text-decoration:underline;
	}
#rightPan h3{
	font:24px/22px Tahoma, Arial, Helvetica, sans-serif;
	color:#FFFFFF;
	background-color:#000000;
	display:block;
	margin:10px 0 0 0;
	height:27px;
	}
#rightPan p.hig{
	background-color:#272727;
	color:#8C8C8B;
	font:14px/20px Arial, Helvetica, sans-serif;
	display:block;
	width:413px;
	
	padding:16px 0px 0 12px;
	margin:5px 0 0 0;
	}
#rightPan p.hig1{
	background-color:#151515;
	color:#8C8C8B;
	font:14px/20px Arial, Helvetica, sans-serif;
	display:block;
	width:413px;
	
	padding:16px 0px 0 12px;
	margin:5px 0 0 0;
	}
#rightPan p.two{
	 color:#D3D3D3;
	font:14px/20px Arial, Helvetica, sans-serif;
	display:block;
	width:373px;
	
	padding:10px 0px 0 52px;
	margin:0 0 0 0;
	background:url(/images/02.gif) no-repeat 11px 13px #151515;
	}
#rightPan p.three{
	 color:#D3D3D3;
	font:14px/20px Arial, Helvetica, sans-serif;
	display:block;
	width:373px;
	
	padding:10px 0px 0 52px;
	margin:0 0 0 0;
	background:url(/images/03.gif) no-repeat 11px 13px #151515;
	}
#rightPan p.one{
	 color:#D3D3D3;
	font:14px/20px Arial, Helvetica, sans-serif;
	display:block;
	width:373px;
	min-height:80px;
	padding:10px 0px 0 52px;
	margin:0 0 0 0;
	background:url(/images/01.gif) no-repeat 11px 13px #272727;
	}
#rightPan p.more1 {
	background-color:#272727;
	color:#8C8C8B;
	padding:7px 0 13px 14px;
	width:411px;
	margin:0 0 0 0;
	}
#rightPan p.more1 a{
	background-color:#000000;
	color:#2BCB02;
	width:397px;
	display:block;
	font:14px/14px Arial, Helvetica, sans-serif;
	text-decoration:none;
	text-align:right;
	padding:0 3px;
	}
#rightPan p.more1 a:hover{
	color:#fff;
	background-color:#124D8C;
	text-decoration:none;
	}
#rightPan p.more2 {
	background-color:#151515;
	color:#8C8C8B;
	padding:7px 0 13px 14px;
	width:411px;
	margin:0 0 0 0;
	}
#rightPan p.more2 a{
	background-color:#000000;
	color:#2BCB02;
	width:397px;
	display:block;
	font:14px/14px Arial, Helvetica, sans-serif;
	text-decoration:none;
	text-align:right;
	padding:0 3px 0 0;
	}
#rightPan p.more2 a:hover{
	color:#fff;
	background-color:#124D8C;
	text-decoration:none;
	}
#rightPan ul{
	width:424px;
	display:block;
	margin:26px 0 0 0;
	}
#rightPan ul li{
	display:block;
	height:35px;
	padding:98px 0 0 0;
	float:left;
	width:141px;
	}
#rightPan ul li.time{
	display:block;
	background:url(/images/time_manager.gif) no-repeat 0 0;
	height:35px;
	}
#rightPan ul li.time a{
	height:35px;
	background-color:#1C1C1C;
	border-bottom:#393939 1px solid;
	border-top:#393939 1px solid;
	border-left:#393939 1px solid;
	display:block;
	font:14px/16px Arial, Helvetica, sans-serif;
	color:#FFFFFF;
	padding:0 39px 0 16px;
	text-decoration:none;
	}
#rightPan ul li.time a:hover{
	background-color:#080808;
	color:#2BCB02;
	text-decoration:none;
	}
#rightPan ul li.latest{
	display:block;
	background:url(/images/latest.gif) no-repeat 21px 0;
	height:35px;
	
	}
#rightPan ul li.latest a.la{
	height:35px;
	background-color:#1C1C1C;
	border-bottom:#393939 1px solid;
	border-top:#393939 1px solid;
	
	border-left:none;
	display:block;
	 font:14px/16px Arial, Helvetica, sans-serif;
	color:#FFFFFF;
	padding:0 39px 0 37px;
	text-decoration:none;
	
	}
#rightPan ul li.latest a.la:hover{
	background-color:#080808;
	color:#2BCB02;
	text-decoration:none;
	}
#rightPan ul li.what{
	display:block;
	background:url(/images/what_news.gif) no-repeat 21px 0;
	height:35px;
	
	}
#rightPan ul li.what a.wh {
	height:35px;
	background-color:#1C1C1C;
	border-bottom:#393939 1px solid;
	border-top:#393939 1px solid;
	border-left:none;
	display:block;
	font:14px/16px Arial, Helvetica, sans-serif;
	color:#FFFFFF;
	padding:0 39px 0 37px;
	text-decoration:none;
	border-right:#393939 1px solid;
}

#rightPan ul li.what a.wh:hover{
background-color:#080808;
	color:#2BCB02;
	text-decoration:none;
}

/*-------------------------------footer---------*/
#footerMain{
background:url(/images/footer_bg.gif) repeat-x 0 0;
	width:100%;
	height:182px;
}
#footerImage{
width:1000px;
	margin:0 auto 0 auto;
	padding-right: 0px;
 	margin-top: -45px;
	background:url(/images/popcorn2.gif) no-repeat center top;
	/*float: center;*/	
	height:187px;
}
	
#footer{
height:97px;
	width:778px;
	margin:0 auto 0 auto;
	padding:74px 0 0 0;
}

#footer ul{
width:446px;
	display:block;
	margin:0px 0 0 470px;
	padding:0;
	font-size:0;
	height:20px;
}

#footer ul li{
color:#9B9B9B;
	font:12px/18px "Trebuchet MS", Arial, Helvetica, sans-serif;
	float:left;
	background-color:#0F0F0F;
	padding:0;
	margin:0;
}

#footer ul li a{
color:#9B9B9B;
	font:12px/18px "Trebuchet MS", Arial, Helvetica, sans-serif;
	background-color:#0D0D0D;
	text-decoration:none;
	padding:0 6px 0 6px;
}

#footer ul li a:hover{
text-decoration:underline;
}


#footer p{
width:324px;
	display:block;
	font:12px/18px "Trebuchet MS", Arial, Helvetica, sans-serif;
	color:#EAEAEA;
	margin:0px 0 0 475px;
	background-color:#0A0A0A;
	padding:0 0 9px 0;
}

#footer p.copy{
width:250px;
	display:block;
	font:12px/18px "Trebuchet MS", Arial, Helvetica, sans-serif;
	color:#EAEAEA;
	margin:0;
	background-color:#030303;
	padding:0;
	float:right;
	display:block;
}

#footer p.copy a{
text-decoration:underline;
	color:#EAEAEA;
	background-color:#030303;
}

#footer p.copy a:hover {
	text-decoration:none
}

* { margin: 0; }

html, body {  
	height: 100%;
}
.wrapper {    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -4em auto;
}

.footer, .push {
	height: 4em;
}


/* ---- Additions from Cary and Rahul ----*/
#bodycontent {
	width:820px;
	margin:auto;
	margin-top:20px;
}

#bodycontent h1 {
	text-align:center;
}

#bodycontent table {
	border-spacing:0px;
	border-width:0px;
	padding-top:2px;
	width:auto;
	margin:auto;
}

#bodycontent table tr {
	height: 30px;
}

#bodycontent table tr.odd {
	background-color:#1B1B1B;
}

#bodycontent table td.link {
/*	padding-left:10px;*/
	padding-right:10px;
}

#bodycontent table td.link:hover {
	background-color:#004FB9;
}

#bodycontent table a {
	padding-left:10px;
	display:block;
	color:#949493;
	text-decoration:none;
}

#bodycontent table a:hover{
	color:white;;
}



/* jHorizontalScroll Pane Container */
.jScrollPaneContainer {
	position: relative;
	overflow: hidden;
	z-index: 1;
}

.jScrollPaneTrack {
	position: absolute;
	cursor: pointer;
	left: 0;
	bottom: 0;
	width: 100%;
	background: #aaa;
}

.jScrollIntervalTrack { 
	position: absolute;

}

.jScrollPaneDrag {
	position: absolute;
	background: #666;
	cursor: pointer;
	overflow: hidden;
}
.jScrollPaneDragLeft {
	position: absolute;
	bottom: 0;
	left: 0;
	overflow: hidden;
}
.jScrollPaneDragRight {
	position: absolute;
	bottom: 0;
	right: 0;
	overflow: hidden;
}
a.jScrollArrowLeft {
	display: block;
	position: absolute;
	z-index: 1;
	bottom: 0;
	left: 0;
	text-indent: -2000px !important;
	overflow: hidden;
	/*background-color: #666;*/
	height: 9px;
	width: 10px;
}
a.jScrollArrowLeft:hover {
	/*background-color: #f60;*/
}

a.jScrollArrowRight {
	display: block;
	position: absolute;
	z-index: 1;
	bottom: 0;
	right: 0;
	text-indent: -2000px !important;
	overflow: hidden;
	/*background-color: #666;*/
	height: 9px;
	width: 10px;
}
a.jScrollArrowRight:hover {
	/*background-color: #f60;*/
}
a.jScrollActiveArrowButton, a.jScrollActiveArrowButton:hover {
	/*background-color: #f00;*/
}
/*
#clip-pane {
	width: 960px;
	padding: 0;
	display: block;
	overflow: hidden;
	background: #ccc;
	max-height: 200px !important;
	white-space: nowrap;
	float: left;
}*/

#clip-list { 
    margin-top: 20px; 
    margin-bottom: 20px;
    padding: 3px; 
	WIDTH	 : auto;
	max-height: 155px !important;
	display: block;
	list-style-type: none;
	overflow-x: scroll;
	overflow-y: scroll;
}

#clip-list li {
    display:inline; 
    float: left;
/*    height:auto !important;*/
/*    max-height:150px;*/
    width:160px;
    text-align: center; 
}

.clip {
	width:160px;
	height:160px;
	overflow:hidden;
}

#
 
